/*General CSS*/
html,
body {
  font-family: Verdana;
  color: white;
  background-color: black;
}

.excursion-link {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

/*Top-Bar CSS*/
.top-bar {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  margin-bottom: 32px;
}

/*Video*/
.excursion-video {
  margin: 32px auto;
  width: 50%;
}

.excursion-video video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*Middle-Bar CSS*/
.middle-bar {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  margin-bottom: 32px;
}

.middle-bar-small {
  font-size: 21px;
  text-align: center;
  color: gray;
}

/*Image*/
.excursion-img {
  margin: 20px auto;
  width: 50%;
}

.excursion-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
